.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}


.navbar-inverse {
    background-color: #f9f8f8;
    border: none;
}

a.navbar-brand:hover {
    color: black !important;
}
ul.nav.navbar-nav a:hover {
    color: black;
}

.container.theme-showcase {
    margin-top: 5%;
}
.h1, h1 {
    font-size: 42px;
}

h1.banner {
    margin-bottom: 30px;
}

/*textarea, input[type="text"] {*/
    /*width: 50%;*/
/*}*/
.form-control  {
    width: 50%;
}

#courseTableForm tr td{
    border-top: none;
}


.new_Btn {


    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #337ab7;
    color: white;
    border-radius: 4px;


}

#html_btn {
 display:none;
}

#formButtons{
    text-align: center;
    padding-right: 16%;
}

.jumbotron{
    background-color: transparent;
    padding: 0;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left:0px;
}

#changeButtonLink{
    display: inline-block;
    vertical-align: text-bottom;
    text-align: right;
    margin-top: 5%;
    background-color: #337ab7;
    color: #fff;
    margin-left: 25%;
}

#deleteButtonLink{
    display: inline-block;
    vertical-align: text-bottom;
    text-align: right;
    margin-top: 5%;
    background-color: #FF3333;
    color: #fff;
    margin-left: 15px;
}

.inline-block{
    display: inline-block;
}
.inline-table{
    display: inline-table;
}
