{% include "header.html" %}

<div class="jumbotron">
    {% if course %}
        <h1>Update Course</h1>
        {% else %}
        <h1>Add Course</h1>
    {% endif %}
</div>
<div id="addCourseFormContainter">
    {% if course %}
        <form action="/courses/{{ course.id }}/update" method="post"  enctype="multipart/form-data">
    {% else %}
        <form action="/courses/create" method="post" enctype="multipart/form-data">
    {% endif %}
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Course Title</label>
        {% if course %}
            <input name="courseTitle" class="form-control" type="text" value="{{course.Title}}">
        {% else %}
            <input name="courseTitle" class="form-control" type="text" placeholder="Name it something good.">
        {% endif %}
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Course Description</label>
         {% if course %}
            <textarea class="form-control" name="courseDescription">{{course.Description}}</textarea>
        {% else %}
             <textarea class="form-control" name="courseDescription"></textarea>
        {% endif %}
            <label style="margin-left: 16.8%;margin-top: 5px;">Please provide some information that students will learn.</label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Course Instructor</label>
        {% if course %}
            <input type="text" class="form-control" name="courseInstructor" value="{{course.Instructor}}">
        {% else %}
            <input type="text" class="form-control" name="courseInstructor" placeholder="Django Guru">
        {% endif %}
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Course Duration</label>
         {% ifequal course.Duration  8 %}
            <input type="radio"  name="courseDuration" value="2" >&nbsp;2 Weeks<br>
            <input type="radio"  name="courseDuration" value="8"checked>&nbsp;8 Weeks
         {% else %}
            <input type="radio"  name="courseDuration" value="2"checked>&nbsp;2 Weeks<br>
            <input type="radio"  name="courseDuration" value="8" >&nbsp;8 Weeks
        {% endifequal %}
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label">Course Art</label>
        {% if course.CourseArt %}
            <input id="html_btn" type='file'  name="courseArt" size="40"/>
            <div class="new_Btn">Choose File</div>
            <img id="courseArt" style="width: 35px;margin-left: 10px;" src="/courses{{MEDIA_URL}}{{course.CourseArt}}">
            <label id="courseArtName">{{course.CourseArt}}</label>
            <label id="fileLabelUp"></label>
        {% else %}
            <input id="html_btn" type='file'  name="courseArt" style="background: transparent" size="40"/>
            <div class="new_Btn">Choose File</div>
            <label id="fileLabel"></label>
        {% endif %}

    </div>
     <div id="form-group row" style="text-align: right; width: 68%;">
        {% if course %}
           <input type="submit"  class="btn btn-group"  value="Update"></td>
        {% else %}
            <td><input type="submit" class="btn btn-group" value="Add"></td>
        {% endif %}
        or
        <a href="/courses">Cancel</a>
    </div>
</form>
</div>

<script>
    $('.new_Btn').bind("click" , function () {
        $('#html_btn').click();
    });
    $("#html_btn").on("change", function(){ //When a new file is selected
        var x = document.getElementById("html_btn");
        if ('files' in x) {
            var file = x.files[0];
            console.log(file.name);

            if(document.getElementById('fileLabel') !=null){
                document.getElementById('fileLabel').innerHTML = file.name;
            }
            if(document.getElementById('fileLabelUp') !=null){
                document.getElementById('fileLabelUp').innerHTML = "New File: " + file.name;
                document.getElementById('courseArt').style.display = "none";
                document.getElementById('courseArtName').style.display = "none";
            }
        }

{#        }#}
{#        var file = $("#fileInput").prop("files")[0];#}
{#        console.log(file.name)#}
    });


</script>
{% include "footer.html" %}