{% include "header.html" %}


<div class="jumbotron">
    <h1 style="display: inline-block" id="titleBanner">{{ course.Title }}</h1>
    <a  style="display: inline-block" id="changeButtonLink" class="btn btn-group" href="/courses/{{ course.id }}/change">Change</a>
    <a  style="display: inline-block" id="deleteButtonLink" class="btn btn-group" href="/courses/{{ course.id }}/delete" onclick="return confirm('Are you sure you want to delete this courses?')">Delete</a>
    <p>{{ course.Description }}</p>
    <div>
        <ul>
            <li><p>Course Instructor: {{ course.Instructor }}</p></li>
            <li><p>Course Duration: {{ course.Duration }} weeks</p></li>
        </ul>
    </div>
    <div>
        <img style="width: 30%" src="/courses{{ MEDIA_URL }}{{ course.CourseArt }}">
    </div>

</div>





