<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Courses</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'courses/styles.css' %}"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://www.djangoproject.com/" target="_blank">Programming Django</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                        <li><a href="/courses"> Course Catalog</a></li>
                        <li><a href="/courses/add">Add Course</a></li>
                     </ul>
                </div>
            </div>
        </nav>
        <div class="container theme-showcase" role="main">

