


{% include "header.html" %}

<div class="jumbotron">
    <h1>Django Course Catalog</h1>
    <p>Please choose from some of our awesome courses.</p>
</div>

{% if courses %}
  <table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Course Title</th>
        <th>Instructor</th>
        <th>Duration</th>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td><a href="/courses/{{ course.id }}">{{ course.Title }}</a></td>
        <td>{{ course.Instructor }}</td>
        <td>{{course.Duration}} Weeks</td>
    </tr>
   {% endfor %}
  </table>


{% else %}
    <p>There are no courses right now. </p>
{% endif %}
{% include "footer.html" %}